textarea {
    resize: none;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: medium;
}
form{
    padding: 20px;
}
a{
    background-color: whitesmoke;
    border: gray 1px solid;
}
a.Taskbox{
    text-decoration: none;
    background-color: white;
    border: white 1px solid;
    color: black;
}